<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Uploaded</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Marmelad&display=swap"
      rel="stylesheet"
    />
    <style>
    body {
        font-size: 1.25em;
        font-family: Marmelad;
        color: #383737;
        text-align: center;
    }
    </style>
</head>
<body>
    <br>
    <br>
    <br>
    <h1><pstyle="text-align: center; color: #383737;>Файл загружен: {{ filename }}</p></h1>
    <button onclick="classifyGenre()">Узнать жанр</button>
    <button onclick="goBack()">Вернуться обратно</button>
    <br>
    <br>
    <div id="result"></div>

    <script>
        function classifyGenre() {
            fetch(`/classify/{{ filename }}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('result').innerText = data.result;
                });
        }

        function goBack() {
            window.location.href = '/';
        }
    </script>
</body>
</html>
